<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZHPMDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6D31718B1E6A97DB00805B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D3171A41E6A97DC00805B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6D3171AF1E6A97DC00805B4D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
